# GitHub Ignore List
bugfix/
SSDTFiles/
.idea/
.vscode/
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
build/
dist/
*.spec
driver/*.ko
driver/*.o
driver/*.mod.c
driver/*.symvers
driver/*.order
driver/hp-wmi.kmod
driver/.tmp_versions/
driver/.*.cmd
/tmp/
